.odd,
.font_change {
    background-color: pink;
    font-family: Verdana,DejaVu Sans, sans-serif;
}

#first_id {
    color: blue;
    font-size: 36px;
}

.font_change {
    font-size: 24px;
}

#second_id {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}