
.container {
    display: flex;
    border: 2px solid black;
    flex-direction: column;
}

.header /*Left*/ {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.header_links /*right*/ {
    display: flex;
    gap: 4px;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}


/*Flexbox 1 below header*/

.flexbox1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fbinfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.bb {
    border: 2px solid black;
}

.button1{
    color: red;
}

.img1 {
    background-color: gray;
    height: 200px;
    width: auto;
}



/*Flexbox 3*/

.flexbox3 {
    display: flex;
    flex-direction: column;
}

.info_boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

.box {
    border: 2px solid rgb(79, 79, 129);
    border-radius: 10px;
    flex-grow: 0;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.boxinfo {
    text-align: center;
}

.title3 {
text-align: center;
}


/*flexbox 4*/

.flexbox4 {
    display: flex;
    flex: auto;
    align-items: center;
    flex-direction: column;
    height: 200px;
    justify-content: center;
}

.quote {
    display: flex;
    border: 2px solid black;
    text-align: center;
    margin: 50px;
    flex-direction: column;


}

.author {
    font: bold;
    text-align: right;
}